$color-primary: hsl(202, 100%, 34%);
$color-primary-d: hsl(202, 100%, 24%);

$color-secondary: hsl(44, 100%, 57%);
$color-secondary-d: hsl(44, 100%, 47%);

$color-tertiary: hsl(39, 100%, 97%);
$color-tertiary-d: hsl(39, 100%, 87%);

$color-light: hsl(0, 0%, 100%);
$color-light-d: hsl(0, 0%, 90%);

$color-dark: hsl(0, 0%, 15%);

$break-xs: 680px;
$break-sm: 800px;
$break-md: 1050px;

$font-reg: "gilroy-reg", san-serif;
$font-bolder: "gilroy-heavy", san-serif;
$font-bold: "gilroy-bold", san-serif;
