@mixin mediaQuery($width: $break-sm) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin transition($sec: 0.4, $ease: ease-in-out) {
  transition-duration: $sec;
  transition-timing-function: $ease;
}

@mixin btn($bg: $color-primary, $col: $color-light, $border: $color-primary) {
  padding: 1rem 1.2rem;
  transition: 0.5s ease;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border: 2px solid $border;
  background-color: $bg;
  color: $col;
  border-color: $border;
  display: inline-block;
  min-width: 13rem;
  text-align: center;
  cursor: pointer;
  &:hover {
    border-color: darken($border, 20);
    background-color: darken($bg, 20);
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: lighten($color-secondary, 35);
  }
  &::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-secondary-d;
  }
}
