.breadcrumb {
  padding: 5rem 0;
  @include mediaQuery($break-sm) {
    padding: 3rem 0;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: bold;
      margin-right: 0.5rem;
      @include mediaQuery($break-md) {
        font-size: 1.2rem;
      }
      i {
        color: #c9c9c9;
        padding-left: 1.5rem;
        padding-right: 1rem;
        @include mediaQuery($break-md) {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
      a {
        transition: 0.5s ease;
        text-transform: uppercase;
        color: #c9c9c9;

        &:hover {
          color: $color-secondary;
        }
      }
    }
    li:last-child {
      text-transform: uppercase;
      a {
        color: $color-dark;
      }
      i {
        padding-right: 1rem;
        @include mediaQuery($break-md) {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
